---
import Layout from '../layouts/Layout.astro';
import { FlashcardForm } from "@/components/flashcardsCreation/FlashcardForm";
import { Toaster } from "@/components/ui/sonner";
---

<Layout title="Generate Flashcards">
  <main class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold mb-8">Create New Flashcard</h1>
      <FlashcardForm client:load />
      <Toaster client:load />
    </main>
</Layout> 
